* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 57px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu-link {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.menu .menu-item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    top: 57px;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader .subheader-logo {
    max-width: 100%;
}

.subheader .subheader-official {
    display: block;
    margin-top: 6px;
    opacity: .5;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

.subheader .subheader-call {
    display: block;
    margin-top: 19px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    text-align: right;
}

.subheader .subheader-phone {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
}

.subheader .subheader-bth {
    margin-top: 19px;
    border-radius: 4px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3 0 rgba(0, 0, 0, .12);
    border: none;
    background: linear-gradient(0deg, rgba(30, 172, 199, 1) 0%, rgb(76, 226, 255, 1) 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .21);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    padding: 150px 0 135px 0;
    min-height: 800px;
    background: url('../img/bg_01.jpg') center center / cover no-repeat;
}

.promo .promo-header {
    margin-top: 0;
    color: #fff;
    text-transform: uppercase;
    font-style: 60px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
}

.promo .promo-subheader {
    margin-top: 22px;
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.promo .promo-descr {
    margin-top: 23px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.promo .promo-btn {
    display: block;
    margin: 118px auto 0;
    width: 256px;
    height: 63px;
    box-shadow: inset 0 -4 0 rgba(0, 0, 0, .12);
    border: none;
    border-radius: 4px;
    background: linear-gradient(0deg, rgba(30, 172, 199, 1) 0%, rgb(76, 226, 255, 1) 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .21);
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

/* .reason {
    min-height: 900px;
    padding: 70px 0 57px;
}

.reason .reason-btn {
    display: block;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    color: #fff;
    font-size: 12px;
    background: #000;
    border: none;
    border-radius: 2px;
}

.reason .reason-subheader {
    margin-top: 38px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.reason .reason-block {
    margin-top: 40px;   
}

.reason .reason-item .row {
    margin: 0;      
    display: flex;
    align-items: center; 
}

.reason .round {
    margin: 35px 0 20px;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 112px;
    height: 112px;
    background-color: #409db4;
    border-radius: 50%;
}

.reason .descr {   
    
}

.reason .descr .title {
    color: #409db4;
    font-size: 24px;
    text-align-last: left;
}

.reason .descr .text{
    text-align-last: left;
} */


.reasons {
    padding: 71px 0 65px 0;
}

.label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
}

.title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.subtitle{
    color: #222; 
    text-align: center;
	font-size: 17px;
	font-weight: 400;
	line-height: 21px;
}
.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
    width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle{
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}
